<div class ="data-container">
    <h1>每日抓取数据分析</h1>
    <div id="container-status-list" style="height: 500px; min-width: 600px"></div>
</div>
<div class="spacer"></div>
<div class ="data-container">
    <h1>实时爬虫数据</h1>
    <div id="container-status-realtime" style="height: 500px; min-width: 600px;padding-bottom: 50px;"></div>
</div>
<script src="../static/highstock/js/highstock.js"></script>
<script src="../static/highstock/js/modules/exporting.js"></script>
<script src="../static/js/status.js"></script>